* {
  margin: 0;
  padding: 0;
}

/* google font */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  background-image: url("../images/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
/* share styles*/
.primary-btn {
  font-size: 18px;
  font-weight: 700px;
  color: #fff;
  padding: 15px 36px;
  border: none;
  cursor: pointer;
  background-color: #4e47ff;
  transition: transform 0.17s ease, background-color 0.17s ease,
    color 0.17s ease;
  border-radius: 10px;
}

.primary-btn:hover {
  transform: scale(1.05);
  background-color: #221aff;
  color: orange;
}

.primary-title {
  font-size: 43px;
  font-weight: 800;
}
/* nav starts */
nav {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

nav h2 {
  font-size: 40px;
  font-weight: 1000;
  color: #4e47ff;
}

main {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 116px;
}
/* banner section starts */
.banner {
  max-width: 900px;
  margin: 0 auto;
  padding: 158px 0;
}
.banner h2 {
  font-size: 64px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 37px;
}
/* action section starts here */
.action {
  display: flex;
  gap: 220px;
  align-items: center;
}

.actions {
  width: 517px;
}
.actions p {
  font-size: 25px;
  color: #8987a1;
  padding: 23px 0;
}

/* productive users section starts */
.productive-users {
  background-color: #dad8ff;
  margin: 125px 0;
  border-radius: 25px;
  padding: 50px 142px;
}

.productive-users h3 {
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 40px;
  text-align: center;
}

.users-container {
  display: flex;
  justify-content: space-between;
}
.users-container h2 {
  font-size: 82px;
  font-weight: bold;
  color: #4e47ff;
}
.users-container p {
  font-size: 20px;
  font-weight: 500;
  color: #757483;
}
/* users feedback section starts */
.users-feedback {
  margin-bottom: 100px;
}
.users-feedback-container {
  display: flex;
  gap: 20px;
}

.user-section {
  padding: 24px;
  border: 0.5px solid rgb(236, 234, 234);
  border-radius: 14px;
}
.icons {
  margin-bottom: 25px;
}
.disc h4 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 8px;
}
.disc p {
  font-size: 17px;
  margin-bottom: 24px;
  color: #757483;
}
.feedback {
  display: flex;
  gap: 12px;
}

.feedback h5 {
  font-size: 16px;
  color: #757483;
}

.feedback p {
  font-size: 13px;
  color: #c9c8d6;
}
/* Get In Touch Section starts  */

.form {
  height: 632px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form h3 {
  font-size: 99px;
  font-weight: 800;
  width: 528px;
}
.form form {
  display: flex;
  flex-direction: column;
}
.form form label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}
.form form input {
  font-size: 20px;
  padding: 20px 20px;
  width: 497px;
  margin-bottom: 19px;
  border: 0.5px solid gainsboro;
  background-color: #f4f4f4;
}

.form form input::placeholder {
  font-size: 20px;
}
.form form textarea {
  font-size: 20px;
  padding: 40px 20px;
  margin-bottom: 20px;
  resize: none;
  border: 0.5px solid gainsboro;
  background-color: #f4f4f4;
}
.form form textarea::placeholder {
  font-size: 20px;
}

/* footer starts here */
footer {
  height: 428px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.footer-container {
  max-width: 531px;
}
.footer-container h2 {
  font-size: 100px;
  font-weight: 1000;
  color: #4e47ff;
  text-align: center;
}

.footer-container p {
  font-size: 18px;
  color: #7f7f7f;
  margin-top: 8px;
  margin-bottom: 20px;
}

.footer-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.footer-container ul li {
  list-style-type: none;
}
.footer-container ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #7f7f7f;
}
.footer-container ul li a:hover {
  color: orange;
}
